body {
  font-family: 'Segoe UI', sans-serif;
  background-color:#8c0404;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  position: relative;
  display: flex;
  width: 90%;
  max-width: 900px;
  background-color: #969090;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.player {
  flex: 1;
  padding: 30px;
  text-align: center;
}

.player--active {
  background-color:wheat ;
}

.score {
  font-size: 50px;
  color: #333;
}

.current {
  margin-top: 30px;
  background-color: #e84949;
  border-radius: 8px;
  padding: 10px;
}

.dice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  display: none;
}

button {
  position: absolute;
  bottom: 20px;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  background-color: #444;
  color: rgb(227, 220, 220);
  border-radius: 5px;
  cursor: pointer;
}

.btn--hold{
  left: 46%;
}

.btn--roll {
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}

.btn--new {
  left: 43%;
  top: 10%;
  bottom: 80%;
}

.player--winner {
  background-color: #60b347;
  color: white;
}
